@using Microsoft.AspNetCore.Identity
@using APP.Core.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <nav id="navigation">
        <ul id="responsive">
            <li>
                <a href="/anasayfa"><i class="icon-material-outline-home"></i> Anasayfa</a>
            </li>
            <li>
                <a href="/ustalar"><i class="icon-material-outline-search"></i> Usta Bul</a>
            </li>
        </ul>
    </nav>
}