@using Microsoft.AspNetCore.Identity
@using APP.Core.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <nav id="navigation">
        <ul id="responsive">
            <li>
                <a href="/anasayfa" class="current"><i class="icon-material-outline-home"></i> Anasayfa</a>
            </li>
            <li>
                <a href="/usta-ilanlari"><i class="icon-material-outline-search"></i> Usta Bul</a>
            </li>
            <li>
                <a href="/yeni-ilan"><i class="icon-material-outline-forum"></i> İlan Ver</a>
            </li>
            <li>
                <a href="#"><i class="icon-feather-airplay"></i> Kontrol Paneli</a>
            </li>
        </ul>
    </nav>
}
else
{
    <nav id="navigation">
        <ul id="responsive">
            <li>
                <a href="/anasayfa" class="current"><i class="icon-material-outline-home"></i> Anasayfa</a>
            </li>
            <li>
                <a href="/usta-ilanlari"><i class="icon-material-outline-search"></i> Ev Hanımı Bul</a>
            </li>
            <li>
                <a href="/yeni-ilan"><i class="icon-material-outline-forum"></i> İlan Ver</a>
            </li>
        </ul>
    </nav>
}