@using Microsoft.AspNetCore.Identity
@using APP.Core.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <!-- Dashboard Sidebar
    ================================================== -->
    <div class="dashboard-sidebar">
        <div class="dashboard-sidebar-inner" data-simplebar="init" style="height: 778px;">
            <div class="simplebar-track vertical" style="visibility: visible; display: none;"><div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 25px;"></div></div><div class="simplebar-track horizontal" style="visibility: visible; display: none;"><div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div></div><div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;">
                <div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
                    <div class="dashboard-nav-container">

                        <!-- Responsive Navigation Trigger -->
                        <a href="#" class="dashboard-responsive-nav-trigger">
                            <span class="hamburger hamburger--collapse">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                            <span class="trigger-title">Dashboard Navigation</span>
                        </a>

                        <!-- Navigation -->
                        <div class="dashboard-nav">
                            <div class="dashboard-nav-inner">

                                <ul data-submenu-title="Panel">
                                    <li><a href="/OrderOffer/Dashboard"><i class="icon-material-outline-dashboard"></i> Yönetim Paneli</a></li>
                                    <li><a href="/mesajlar"><i class="icon-material-outline-question-answer"></i> Mesajlar <span class="nav-tag">2</span></a></li>
                                </ul>

                                @{
                                    var user = await UserManager.GetUserAsync(User);
                                    var uyeUsers = await UserManager.GetUsersInRoleAsync("Üye");
                                    var ustaUsers = await UserManager.GetUsersInRoleAsync("Usta");

                                    var isUserUye = uyeUsers.Any(x => x.Email == user.Email);
                                    var isUserUsta = ustaUsers.Any(y => y.Email == user.Email);
                                }

                                @if (isUserUsta == true && isUserUye == false)
                                {
                                    <ul data-submenu-title="Usta İşlemleri">
                                        <li><a href="/Deal/ChiefDeals"><i class="icon-line-awesome-thumb-tack"></i> Yapılacak Siparişler</a></li>
                                        <li><a href="/yonetim-paneli/gelen-teklifler"><i class="icon-line-awesome-paste"></i> Gelen Teklifler </a></li>
                                        <li><a href="/OrderOffer/OffersOnlyChiefAccepted"><i class="icon-line-awesome-hourglass-1"></i> Onay Bekleyen </a></li>
                                        <li><a href="/Deal/ChiefCompletedDealsList"><i class="icon-feather-check-square"></i> Teslim Edilen</a></li>
                                    </ul>
                                }

                                @if (isUserUye == true && isUserUsta == false)
                                {
                                    <ul data-submenu-title="Müşteri İşlemleri">
                                        <li><a href="/Deal/ClientDeals"><i class="icon-line-awesome-thumb-tack"></i> Aktif Siparişlerim</a></li>
                                        <li><a href="/yonetim-paneli/tekliflerim"><i class="icon-line-awesome-paste"></i> Tekliflerim </a></li>
                                        <li><a href="/OrderOffer/ClientOrderVerificationAcceptance"><i class="icon-line-awesome-hourglass-1"></i> Onay Bekleyen</a></li>
                                        <li><a href="/Deal/ClientCompletedDealsList"><i class="icon-feather-check-square"></i> Teslim Alınanlar</a></li>
                                    </ul>
                                }

                                <ul data-submenu-title="Hesap">
                                    <li><a href="/Identity/Account/Manage"><i class="icon-material-outline-account-circle"></i> Profilini Düzenle</a></li>
                                </ul>

                            </div>
                        </div>
                        <!-- Navigation / End -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard Sidebar / End -->
}
