@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<!Doctype html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <title>Acikio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../../../css/style.css">
    <link rel="stylesheet" href="../../../../css/colors/orange.css">
</head>
<body style="background-image: url(../../../../images/backgrounds/loginbg.jpg)">

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="#"><img src="~/images/logos/acikio-logo-white.png" width="150" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content
    ================================================== -->
    <div class="container">
        <div class="row">
            <div class="col-xl-5 offset-xl-12">
                <div class="login-register-page" style="background-color: #fff; padding: 35px 35px 35px 35px; border-radius: 10px 10px 10px 10px;">
                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3>Giriş yap, yemekler soğuyacak!</h3>
                        <span>Hesabınız yok mu?  <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Kaydol!</a>
                        </span>
                    </div>

                    <!-- Form -->
                    <form id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="input-with-icon-left">
                            <i class="icon-material-baseline-mail-outline"></i>
                            <input type="text" asp-for="Input.Email" class="input-text with-border" placeholder="E-Posta Adresi" required />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="input-with-icon-left">
                            <i class="icon-material-outline-lock"></i>
                            <input type="password" asp-for="Input.Password" class="input-text with-border" placeholder="Parola" required />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="checkbox">
                            <input asp-for="Input.RememberMe" type="checkbox" id="chekcbox2">
                            <label for="chekcbox2"><span class="checkbox-icon"></span> Beni hatırla</label>
                        </div>

                        &nbsp;<a id="forgot-password" asp-page="./ForgotPassword">Şifreni mi unuttun?</a>

                        <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit">Giriş Yap <i class="icon-material-outline-arrow-right-alt"></i></button>
                    </form>

                    <!-- Social Login -->
                    <div class="social-login-separator"><span>or</span></div>
                    <div class="social-login-buttons">
                        <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Facebook ile Giriş Yap</button>
                        <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Google+ ile Giriş Yap</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Scripts
    ================================================== -->
    <script src="../../../../js/jquery-3.3.1.min.js"></script>
    <script src="../../../../js/jquery-migrate-3.0.0.min.js"></script>
    <script src="../../../../js/mmenu.min.js"></script>
    <script src="../../../../js/tippy.all.min.js"></script>
    <script src="../../../../js/simplebar.min.js"></script>
    <script src="../../../../js/bootstrap-slider.min.js"></script>
    <script src="../../../../js/bootstrap-select.min.js"></script>
    <script src="../../../../js/snackbar.js"></script>
    <script src="../../../../js/clipboard.min.js"></script>
    <script src="../../../../js/counterup.min.js"></script>
    <script src="../../../../js/magnific-popup.min.js"></script>
    <script src="../../../../js/slick.min.js"></script>
    <script src="../../../../js/custom.js"></script>

</body>
</html>