@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Hireo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../../../css/style.css">
    <link rel="stylesheet" href="../../../../css/colors/orange.css">

</head>
<body style="background-image: url(../../../../images/backgrounds/registerbg.jpg);">

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="#"><img src="~/images/logos/acikio-logo-white.png" width="150" alt=""></a>
                </div>
            </div>
        </div>
    </div>


    <!-- Page Content
    ================================================== -->
    <div class="container">
        <div class="row">
            <div class="col-xl-5 offset-xl-12">

                <div class="login-register-page" style="background-color: #fff; padding: 35px 35px 35px 35px; border-radius: 10px 10px 10px 10px;">
                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3 style="font-size: 26px;">Acıktıysan bize katıl!</h3>
                        <span>Zaten hesabın var mı? <a asp-page="./Login">Giriş Yap!</a></span>
                    </div>


                    <!-- Form -->
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" id="register-account-form">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <!-- Account Type -->
                        @*<div class="account-type">
            <div>
                <input type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio" checked />
                <label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Yemek Ustası</label>
            </div>

            <div>
                <input type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio" />
                <label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Acıktım</label>
            </div>
        </div>*@

                        <div class="input-with-icon-left">
                            <i class="icon-material-outline-person-pin"></i>
                            <input type="text" asp-for="Input.Name" class="input-text with-border" placeholder="Adı" required />
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>

                        <div class="input-with-icon-left">
                            <i class="icon-material-outline-person-pin"></i>
                            <input type="text" asp-for="Input.Surname" class="input-text with-border" placeholder="Soyadı" required />
                            <span asp-validation-for="Input.Surname" class="text-danger"></span>
                        </div>

                        <div class="input-with-icon-left">
                            <i class="icon-material-baseline-mail-outline"></i>
                            <input type="text" asp-for="Input.Email" class="input-text with-border" placeholder="E-Posta Adresi" required />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="input-with-icon-left">
                            <i class="icon-material-outline-location-on"></i>
                            <input id="autocomplete-input" type="text" asp-for="Input.Location" class="input-text with-border" placeholder="Konum" required />
                            <span asp-validation-for="Input.Location" class="text-danger"></span>
                        </div>

                        <div class="input-with-icon-left">
                            <i class="icon-line-awesome-calendar"></i>
                            <input type="date" asp-for="Input.DateOfBirth" class="input-text with-border" placeholder="Doğum Tarihi" required />
                            <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                        </div>

                        <div class="input-with-icon-left">
                            <i class="icon-material-outline-lock"></i>
                            <input type="password" asp-for="Input.Password" class="input-text with-border" placeholder="Parola" required />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="input-with-icon-left">
                            <i class="icon-material-outline-lock"></i>
                            <input type="password" asp-for="Input.ConfirmPassword" class="input-text with-border" placeholder="Parola Tekrar" required />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="btn-group bootstrap-select input-text with-border" style="margin-bottom:10px">
                            <select asp-for="Input.Role" class="selectpicker" tabindex="-98">
                                <option selected value="Üye">Normal Üyelik</option>
                                <option value="Usta">Usta Üyeliği</option>
                            </select>
                            <span asp-validation-for="Input.Role" class="text-danger"></span>
                        </div>

                        <button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit">Kaydol <i class="icon-material-outline-arrow-right-alt"></i></button>

                    </form>

                    <!-- Social Login -->
                    @*<div class="social-login-separator"><span>veya</span></div>
                        <div class="social-login-buttons">
                            <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Facebook ile Kaydol</button>
                            <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Google+ ile Kaydol</button>
                        </div>*@
                </div>

            </div>
        </div>
    </div>


    <!-- Spacer -->
    <div class="margin-top-70"></div>
    <!-- Spacer / End-->
    <!-- Scripts
    ================================================== -->
    <script src="../../../../js/jquery-3.3.1.min.js"></script>
    <script src="../../../../js/jquery-migrate-3.0.0.min.js"></script>
    <script src="../../../../js/mmenu.min.js"></script>
    <script src="../../../../js/tippy.all.min.js"></script>
    <script src="../../../../js/simplebar.min.js"></script>
    <script src="../../../../js/bootstrap-slider.min.js"></script>
    <script src="../../../../js/bootstrap-select.min.js"></script>
    <script src="../../../../js/snackbar.js"></script>
    <script src="../../../../js/clipboard.min.js"></script>
    <script src="../../../../js/counterup.min.js"></script>
    <script src="../../../../js/magnific-popup.min.js"></script>
    <script src="../../../../js/slick.min.js"></script>
    <script src="../../../../js/custom.js"></script>

    <!-- Google Autocomplete -->
    <script>
        function initAutocomplete() {
            var options = {
                types: ['(cities)'],
                // componentRestrictions: {country: "us"}
            };

            var input = document.getElementById('autocomplete-input');
            var autocomplete = new google.maps.places.Autocomplete(input, options);
        }

        // Autocomplete adjustment for homepage
        if ($('.intro-banner-search-form')[0]) {
            setTimeout(function () {
                $(".pac-container").prependTo(".intro-search-field.with-autocomplete");
            }, 300);
        }

    </script>

    <!-- Google API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g&libraries=places&callback=initAutocomplete"></script>

</body>
</html>