@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="titlebar" class="gradient"> </div>
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="order-confirmation-page">
                <div class="breathing-icon"><i class="icon-feather-check"></i></div>
                <h2 class="margin-top-30">Siparişi Kabul Ettiniz!</h2>
                <p>Teklif sahibinin doğrulama onayından sonra süreç başlayacaktır.</p>
                <a href="/OrderOffer/IncomingOffers" class="button ripple-effect-dark button-sliding-icon margin-top-30">Diğer Teklifler <i class="icon-material-outline-arrow-right-alt"></i></a>
            </div>

        </div>
    </div>
</div>