<div class="section padding-top-65 padding-bottom-65">
    <div class="container">
        <div class="row">

            <div class="col-xl-12">
                <!-- Section Headline -->
                <div class="section-headline centered margin-top-0 margin-bottom-5">
                    <h3>Acikio Nasıl Çalışıyor?</h3>
                </div>
            </div>

            <div class="col-xl-3 col-md-3">
                <!-- Icon Box -->
                <div class="icon-box with-line">
                    <!-- Icon -->
                    <div class="icon-box-circle">
                        <div class="icon-box-circle-inner">
                            <i class="icon-line-awesome-search"></i>
                            <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                        </div>
                    </div>
                    <h3>Ustanı Bul ve Teklif Ver</h3>
                    <p>Sisteme kayıtlı ustaları puan, kategori, memnuniyet ve bir çok kritere göre ara ve beğendiğin ustaya teklifini yap.</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-3">
                <!-- Icon Box -->
                <div class="icon-box with-line">
                    <!-- Icon -->
                    <div class="icon-box-circle">
                        <div class="icon-box-circle-inner">
                            <i class="icon-material-outline-check-circle"></i>
                            <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                        </div>
                    </div>
                    <h3>Usta Teklifi Onaylasın</h3>
                    <p>Ustalar teklifleri değerlendirir ve geri teklif yapabilir, onaylayabilir veya reddedebilir. </p>
                </div>
            </div>

            <div class="col-xl-3 col-md-3">
                <!-- Icon Box -->
                <div class="icon-box with-line">
                    <!-- Icon -->
                    <div class="icon-box-circle">
                        <div class="icon-box-circle-inner">
                            <i class="icon-feather-mail"></i>
                            <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                        </div>
                    </div>
                    <h3>Teslimat Süreci</h3>
                    <p>Anlaşmaya vardığın usta ile siparişin hakkındaki detayları konuşabilmen için bir chat alanı açılır.</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-3">
                <!-- Icon Box -->
                <div class="icon-box">
                    <!-- Icon -->
                    <div class="icon-box-circle">
                        <div class="icon-box-circle-inner">
                            <i class="icon-feather-truck"></i>
                            <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                        </div>
                    </div>
                    <h3>Siparişini Teslim Al</h3>
                    <p>Ustanla anlaştığın şekilde siparişini aldıktan sonra, usta ile sistemde siparişi karşılıklı tamamlanmış olarak güncellersiniz.</p>
                </div>
            </div>

        </div>
    </div>
</div>