@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<!-- Intro Banner -->
<div class="intro-banner">
    <div class="background-image-container"></div>
    <div class="container">

        <!-- Intro Headline -->
        <div class="row">
            <div class="col-md-12">
                <div class="banner-headline">
                    <h3>
                        <strong>Anne yemeği gibisi yoktur. Belki de vardır?</strong>
                        <br>
                        <span>Binlerce ev hanımı bu platformu kullanarak anne lezzetlerini sizlerle buluşturuyor.</span>
                    </h3>
                </div>
            </div>
        </div>

        <!-- Search Bar -->
        <div class="row">
            <div class="col-md-12">
                <div class="intro-banner-search-form margin-top-95">

                    <!-- Search Field -->
                    <div class="intro-search-field with-autocomplete">
                        <label for="autocomplete-input" class="field-title ripple-effect">Neredesiniz?</label>
                        <div class="input-with-icon">
                            <input id="autocomplete-input" type="text" placeholder="Midenize yakın bir konum">
                            <i class="icon-material-outline-location-on"></i>
                        </div>
                    </div>

                    <!-- Search Field -->
                    <div class="intro-search-field">
                        <label for="intro-keywords" class="field-title ripple-effect">Canınız ne çekti?</label>
                        <input id="intro-keywords" type="text" placeholder="Canınız ne çektiyse söyleyin, annelerimiz yapsın">
                    </div>

                    <!-- Button -->
                    <div class="intro-search-button">
                        <button class="button ripple-effect" onclick="window.location.href='jobs-list-layout-full-page-map.html'"><i class="icon-line-awesome-cutlery"></i> Acıktım</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Stats -->
        <div class="row">
            <div class="col-md-12">
                <ul class="intro-stats margin-top-45 hide-under-992px">
                    <li>
                        <strong class="counter">1,586</strong>
                        <span>Acıkan</span>
                    </li>
                    <li>
                        <strong class="counter">1,221</strong>
                        <span>Ev Hanımı</span>
                    </li>
                    <li>
                        <strong class="counter">3,543</strong>
                        <span>Lezzet İlanı</span>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</div>

<!-- Features Jobs -->
<div class="section gray padding-top-65 padding-bottom-75">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <!-- Section Headline -->
                <div class="section-headline margin-top-0 margin-bottom-35">
                    <h3>Acıkanlardan Gelenler</h3>
                    <a href="jobs-list-layout-full-page-map.html" class="headline-link">Bütün ilanları gör</a>
                </div>

                <!-- Jobs Container -->
                <div class="listings-container compact-list-layout margin-top-35">

                    <!-- Job Listing -->
                    <a href="single-job-page.html" class="job-listing with-apply-button">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">

                            <!-- Logo -->
                            <div class="job-listing-company-logo">
                                <img src="~/images/avatar/woman-1.jpg" alt="">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">DOĞUM GÜNÜ PASTASI YAPMASINI BİLEN EV HANIMI ARIYORUM</h3>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-feather-user"></i> Berna Taşdemir <div class="verified-badge" title="Verified Employer" data-tippy-placement="top"></div></li>
                                        <li><i class="icon-material-outline-location-on"></i> İstanbul, Kadıköy</li>
                                        <li><i class="icon-material-outline-access-time"></i> 1 hafta</li>
                                        <li><i class="icon-line-awesome-money"></i> 40₺</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Apply Button -->
                            <span class="list-apply-button ripple-effect">Ben Yaparım</span>
                        </div>
                    </a>

                    <!-- Job Listing -->
                    <a href="single-job-page.html" class="job-listing with-apply-button">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">

                            <!-- Logo -->
                            <div class="job-listing-company-logo">
                                <img src="~/images/avatar/woman-2.jpg" alt="">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">ALTIN GÜNÜ İKRAMLARI HAZIRLAYACAK EV HANIMI ARIYORUM</h3>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-feather-user"></i> Dilara Akdoğan <div class="verified-badge" title="Verified Employer" data-tippy-placement="top"></div></li>
                                        <li><i class="icon-material-outline-location-on"></i> Ankara, Etimesgut</li>
                                        <li><i class="icon-material-outline-access-time"></i> 3 gün</li>
                                        <li><i class="icon-line-awesome-money"></i> 200₺</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Apply Button -->
                            <span class="list-apply-button ripple-effect">Ben Yaparım</span>
                        </div>
                    </a>

                    <!-- Job Listing -->
                    <a href="single-job-page.html" class="job-listing with-apply-button">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">

                            <!-- Logo -->
                            <div class="job-listing-company-logo">
                                <img src="~/images/avatar/man-1.jpg" alt="">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">ÖĞRENCİ EVİ İÇİN DÜZENLİ YEMEK PİŞİRECEK EV HANIMI ARIYORUM</h3>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-feather-user"></i> Oğuzhan Demirci <div class="verified-badge" title="Verified Employer" data-tippy-placement="top"></div></li>
                                        <li><i class="icon-material-outline-location-on"></i> İstanbul, Beşiktaş</li>
                                        <li><i class="icon-material-outline-access-time"></i> Sürekli</li>
                                        <li><i class="icon-line-awesome-money"></i> 10₺</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Apply Button -->
                            <span class="list-apply-button ripple-effect">Ben Yaparım</span>
                        </div>
                    </a>

                    <!-- Job Listing -->
                    <a href="single-job-page.html" class="job-listing with-apply-button">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">

                            <!-- Logo -->
                            <div class="job-listing-company-logo">
                                <img src="~/images/avatar/woman-3.jpg" alt="">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">NİŞAN YEMEĞİ MENÜSÜ YAPABİLECEK EV HANIMI ARIYORUM</h3>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-feather-user"></i> Halime Demirkol <div class="verified-badge" title="Verified Employer" data-tippy-placement="top"></div></li>
                                        <li><i class="icon-material-outline-location-on"></i> İzmir, Buca</li>
                                        <li><i class="icon-material-outline-access-time"></i> 3 hafta</li>
                                        <li><i class="icon-line-awesome-money"></i> 350₺</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Apply Button -->
                            <span class="list-apply-button ripple-effect">Ben Yaparım</span>
                        </div>
                    </a>

                    <!-- Job Listing -->
                    <a href="single-job-page.html" class="job-listing with-apply-button">

                        <!-- Job Listing Details -->
                        <div class="job-listing-details">

                            <!-- Logo -->
                            <div class="job-listing-company-logo">
                                <img src="~/images/avatar/man-2.jpg" alt="">
                            </div>

                            <!-- Details -->
                            <div class="job-listing-description">
                                <h3 class="job-listing-title">DOĞUM GÜNÜ PASTASI YAPMASINI BİLEN EV HANIMI ARIYORUM</h3>

                                <!-- Job Listing Footer -->
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-feather-user"></i> Berna Taşdemir <div class="verified-badge" title="Verified Employer" data-tippy-placement="top"></div></li>
                                        <li><i class="icon-material-outline-location-on"></i> İstanbul, Kadıköy</li>
                                        <li><i class="icon-material-outline-access-time"></i> 1 hafta</li>
                                        <li><i class="icon-line-awesome-money"></i> 40₺</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Apply Button -->
                            <span class="list-apply-button ripple-effect">Ben Yaparım</span>
                        </div>
                    </a>
                </div>
                <!-- Jobs Container / End -->

            </div>
        </div>
    </div>
</div>
<!-- Featured Jobs / End -->

<!-- Features Cities -->
<div class="section margin-top-65 margin-bottom-65">
    <div class="container">
        <div class="row">

            <!-- Section Headline -->
            <div class="col-xl-12">
                <div class="section-headline centered margin-top-0 margin-bottom-45">
                    <h3>Acıkan Şehirler</h3>
                </div>
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- Photo Box -->
                <a href="jobs-list-layout-1.html" class="photo-box" data-background-image="images/cities/istanbul.jpg">
                    <div class="photo-box-content">
                        <h3>İstanbul</h3>
                        <span>1376 İlan</span>
                    </div>
                </a>
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- Photo Box -->
                <a href="jobs-list-layout-full-page-map.html" class="photo-box" data-background-image="images/cities/ankara.jpg">
                    <div class="photo-box-content">
                        <h3>Ankara</h3>
                        <span>845 İlan</span>
                    </div>
                </a>
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- Photo Box -->
                <a href="jobs-grid-layout-full-page.html" class="photo-box" data-background-image="images/cities/izmir.jpg">
                    <div class="photo-box-content">
                        <h3>İzmir</h3>
                        <span>832 İlan</span>
                    </div>
                </a>
            </div>

            <div class="col-xl-3 col-md-6">
                <!-- Photo Box -->
                <a href="jobs-list-layout-2.html" class="photo-box" data-background-image="images/cities/adana.jpg">
                    <div class="photo-box-content">
                        <h3>Adana</h3>
                        <span>513 İlan</span>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
<!-- Features Cities / End -->